.components-container {
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  min-width: 800px;
  border: 1px solid black;
  border-radius: 0.5rem;
  
  background-image: url('https://i.pinimg.com/736x/c6/af/08/c6af080d3dcb684e5262711d44aeea46.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.name{
  text-align: center;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  width: 400px;
  margin: 10px auto;
 

}

.content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 0.5rem;
  padding: 0.5rem;
}

.item3{
  grid-column: span 3;
}

.item2{
  grid-column: span 2 ;
  margin-left: 0;
}


/* *{
  color: rgb(0, 0, 0);
} */

