.container{
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(255, 189, 189);
    margin: 15px auto;
}

.variable{
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(178, 75, 234);
    width: 15rem;
}

.temperatures{
    display: flex;
    justify-content: space-around;
}

.container-badges{
    display: flex;
    justify-content: space-around;
}

.badge{
    font-size: medium;
    padding: 0.5rem;
}